/*-------------------------
	Simple reset
--------------------------*/


* {
    margin: 0;
    padding: 0;
}


/*-------------------------
	General Styles
--------------------------*/


html {
    background: url('../img/bg.jpg') #dbe4e6;
    overflow: hidden;
}

body {
    font: 15px/1.3 Arial, sans-serif;
    color: #4f4f4f;
    z-index: 1;
}

a, a:visited {
    outline: none;
    color: #389dc1;
}

    a:hover {
        text-decoration: none;
    }

section, footer, header, aside {
    display: block;
}


/*-------------------------
	The scales
--------------------------*/


#scales {
    width: 370px;
    padding: 10px;
    margin: 200px auto 60px;
    position: relative;
}

    #scales:after {
        content: '';
        position: absolute;
        width: 400px;
        height: 20px;
        border-radius: 100%;
        left: 50%;
        margin-left: -200px;
        bottom: 2px;
        z-index: -1;
    }


    #scales .display {
        text-align: center;
        padding: 40px 20px 20px;
        border-radius: 6px;
        position: relative;
        height: 54px;
    }


    /*-------------------------
	Light color theme
--------------------------*/


    #scales.light {
        background-color: #f3f3f3;
        color: #272e38;
    }

        #scales.light:after {
            box-shadow: 0 4px 10px rgba(0,0,0,0.15);
        }

        #scales.light .digits div span {
            background-color: #272e38;
            border-color: #272e38;
        }

        #scales.light .digits div.dots:before,
        #scales.light .digits div.dots:after {
            background-color: #272e38;
        }

        #scales.light .display {
            background-color: #dddddd;
            box-shadow: 0 1px 1px rgba(0,0,0,0.08) inset, 0 1px 1px #fafafa;
        }


    /*-------------------------
	The Digits
--------------------------*/


    #scales .digits div {
        text-align: left;
        position: relative;
        width: 28px;
        height: 50px;
        display: inline-block;
        margin: 0 4px;
    }

        #scales .digits div span {
            opacity: 0;
            position: absolute;
            -webkit-transition: 0.25s;
            -moz-transition: 0.25s;
            transition: 0.25s;
        }

            #scales .digits div span:before,
            #scales .digits div span:after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border: 5px solid transparent;
            }

    #scales .digits .d1 {
        height: 5px;
        width: 16px;
        top: 0;
        left: 6px;
    }

        #scales .digits .d1:before {
            border-width: 0 5px 5px 0;
            border-right-color: inherit;
            left: -5px;
        }

        #scales .digits .d1:after {
            border-width: 0 0 5px 5px;
            border-left-color: inherit;
            right: -5px;
        }

    #scales .digits .d2 {
        height: 5px;
        width: 16px;
        top: 24px;
        left: 6px;
    }

        #scales .digits .d2:before {
            border-width: 3px 4px 2px;
            border-right-color: inherit;
            left: -8px;
        }

        #scales .digits .d2:after {
            border-width: 3px 4px 2px;
            border-left-color: inherit;
            right: -8px;
        }

    #scales .digits .d3 {
        height: 5px;
        width: 16px;
        top: 48px;
        left: 6px;
    }

        #scales .digits .d3:before {
            border-width: 5px 5px 0 0;
            border-right-color: inherit;
            left: -5px;
        }

        #scales .digits .d3:after {
            border-width: 5px 0 0 5px;
            border-left-color: inherit;
            right: -5px;
        }

    #scales .digits .d4 {
        width: 5px;
        height: 14px;
        top: 7px;
        left: 0;
    }

        #scales .digits .d4:before {
            border-width: 0 5px 5px 0;
            border-bottom-color: inherit;
            top: -5px;
        }

        #scales .digits .d4:after {
            border-width: 0 0 5px 5px;
            border-left-color: inherit;
            bottom: -5px;
        }

    #scales .digits .d5 {
        width: 5px;
        height: 14px;
        top: 7px;
        right: 0;
    }

        #scales .digits .d5:before {
            border-width: 0 0 5px 5px;
            border-bottom-color: inherit;
            top: -5px;
        }

        #scales .digits .d5:after {
            border-width: 5px 0 0 5px;
            border-top-color: inherit;
            bottom: -5px;
        }

    #scales .digits .d6 {
        width: 5px;
        height: 14px;
        top: 32px;
        left: 0;
    }

        #scales .digits .d6:before {
            border-width: 0 5px 5px 0;
            border-bottom-color: inherit;
            top: -5px;
        }

        #scales .digits .d6:after {
            border-width: 0 0 5px 5px;
            border-left-color: inherit;
            bottom: -5px;
        }

    #scales .digits .d7 {
        width: 5px;
        height: 14px;
        top: 32px;
        right: 0;
    }

        #scales .digits .d7:before {
            border-width: 0 0 5px 5px;
            border-bottom-color: inherit;
            top: -5px;
        }

        #scales .digits .d7:after {
            border-width: 5px 0 0 5px;
            border-top-color: inherit;
            bottom: -5px;
        }


    /* 1 */

    #scales .digits div.one .d5,
    #scales .digits div.one .d7 {
        opacity: 1;
    }

    /* 2 */

    #scales .digits div.two .d1,
    #scales .digits div.two .d5,
    #scales .digits div.two .d2,
    #scales .digits div.two .d6,
    #scales .digits div.two .d3 {
        opacity: 1;
    }

    /* 3 */

    #scales .digits div.three .d1,
    #scales .digits div.three .d5,
    #scales .digits div.three .d2,
    #scales .digits div.three .d7,
    #scales .digits div.three .d3 {
        opacity: 1;
    }

    /* 4 */

    #scales .digits div.four .d5,
    #scales .digits div.four .d2,
    #scales .digits div.four .d4,
    #scales .digits div.four .d7 {
        opacity: 1;
    }

    /* 5 */

    #scales .digits div.five .d1,
    #scales .digits div.five .d2,
    #scales .digits div.five .d4,
    #scales .digits div.five .d3,
    #scales .digits div.five .d7 {
        opacity: 1;
    }

    /* 6 */

    #scales .digits div.six .d1,
    #scales .digits div.six .d2,
    #scales .digits div.six .d4,
    #scales .digits div.six .d3,
    #scales .digits div.six .d6,
    #scales .digits div.six .d7 {
        opacity: 1;
    }


    /* 7 */

    #scales .digits div.seven .d1,
    #scales .digits div.seven .d5,
    #scales .digits div.seven .d7 {
        opacity: 1;
    }

    /* 8 */

    #scales .digits div.eight .d1,
    #scales .digits div.eight .d2,
    #scales .digits div.eight .d3,
    #scales .digits div.eight .d4,
    #scales .digits div.eight .d5,
    #scales .digits div.eight .d6,
    #scales .digits div.eight .d7 {
        opacity: 1;
    }

    /* 9 */

    #scales .digits div.nine .d1,
    #scales .digits div.nine .d2,
    #scales .digits div.nine .d3,
    #scales .digits div.nine .d4,
    #scales .digits div.nine .d5,
    #scales .digits div.nine .d7 {
        opacity: 1;
    }

    /* 0 */

    #scales .digits div.zero .d1,
    #scales .digits div.zero .d3,
    #scales .digits div.zero .d4,
    #scales .digits div.zero .d5,
    #scales .digits div.zero .d6,
    #scales .digits div.zero .d7 {
        opacity: 1;
    }


    /* The dots */

    #scales .digits div.dots {
        width: 5px;
    }


        #scales .digits div.dots:after {
            width: 5px;
            height: 5px;
            content: '';
            position: absolute;
            left: 0;
            bottom: 0px;
        }    

    /*-------------------------
		Unit
--------------------------*/


    #scales .unit {
        position: absolute;
        bottom: 20px;
        right: 20px;
        font-size: 12px;
    }
